<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
        .set-backg{
            background-color: #13A1CB;
            color: #fff;
        }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center set-backg">
        <h2><span class="fa fa-lock"></span>User Login and SignUp Form</h2>

        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-success"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-warning"><span class="fa fa-user"></span> Local Signup</a>
    </div>

</div>
</body>
</html>

